
*{
    font-family: 'Courier New', Courier, monospace;
}

.principal{
    background: lightgrey;
    padding: 20px;
}


.logo{
    display: block;
    margin: auto;
    width: 50%;
}

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

em strong{
    color: darkblue;
}

h1{
    text-align: center;
    border:10px solid black;
}


#p2 {
    font-size: 20px;
}



ul{
    display: inline-block;
    vertical-align:top;
    background: white;
    padding: 30px;
    width: 20%;
    margin-right: 15%;
}

.lista{
    display: inline;
}
.imagen{
    width: 300px;
    height: auto;
    align-items:baseline;
    
}